:root {
  --bg-color: rgb(90, 90, 90); /* global scope */
  --border: black;
  --playable-cell: rgba(255, 0, 0, 0.952);
  --unplayed-cell: #2196F3;
  --cols: 25;
}

#board {
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  gap: 1px;
  background-color: #0077be;
  padding: 10px;
  max-width: 100vh;
  max-height: 100vh;
  margin: auto;
}


.cell {
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#bottombar {
  height: 5vh;
}

#instructions {
  height: 5rem;
  background-color: var(--bg-color);
  padding: 0px;
  margin: 0px;
  text-align: center;
  border: 1px solid var(--border);
}

#bottombar button {
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
  font-size: 2rem
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}

.playable { background-color: var(--playable-cell);}

.p1 { color: blue; }
.p2 { color: green; }

.water { background-color: #4a90e2; }
.island { background-color: #4a90e2; }
.ship { background-color: #4a90e2; }
.pirate { background-color: #4a90e2; }

.sprite {
  width: 100%;
  height: 100%;
  object-fit: contain;
}